* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
}
body {
	background-color: #0a161f;
	min-height: 720px;
	background-image: -webkit-gradient(radial, 50% 20%, 50, 50% 20%, 512, from(#222d37), to(#0a161f));
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#page {
	font-size: 12px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 21px;
	width: 320px;
	padding: 21px;
	margin: auto;
	color: #bcbcbc;
	-webkit-font-smoothing: antialiased;
}
::selection {
	background: #3d8eb0;
	color: white;
}
footer {
	text-shadow: 0px 1px 0px #000;
	padding: 8px 14px;
	font-weight: 400;
}
a {
	color: #3d8eb0;
	text-decoration: none;
}
h1 {
	position: relative;
	font-size: 42px;
	font-weight: normal;
	line-height: 42px;
	margin: 8px 0px 12px 8px;
	padding: 0px;
	text-shadow: 0px 1px 0px #000;
}
h1 span {
	font-weight: 100;
}
h1 span + span {
	line-height: 16px;
	font-size: 16px;
	font-weight: 400;
	position: absolute;
	top: 0px;
}
h2 {
	font-size: 26px;
	font-weight: normal;
	line-height: 21px;
	margin: 8px 0px 12px 8px;
	padding: 0px;
	color: hsl(90, 80%, 47%);
}
h2 span {
	display: block;
	font-weight: 200;
}
h2 span + span {
	font-size: 14px;
	font-weight: 400;
}
.smoothie {
	min-height: 32px;
	overflow: hidden;
	padding-bottom: 1px;
	/*border-radius: 7px;*/
	border: 7px solid #b7b7c0;
	/*border: 7px solid rgba(255,255,255, .7);*/
	position: relative;
	z-index: 100;
	background-color: #9e9ea5;
	background:
	-webkit-gradient(linear, right top, left bottom, from(#ddd), to(#ddd), color-stop(0.25, #ddd), color-stop(0.25, transparent), color-stop(0.75, transparent), color-stop(0.75, #ddd)),
	-webkit-gradient(linear, left top, right bottom, from(#ddd), to(#ddd), color-stop(0.25, #ddd), color-stop(0.25, white), color-stop(0.75, white), color-stop(0.75, #ddd));
	background-size: 16px 16px;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: inset 0px 0px 1px #000,
						inset 0px 0px 5px #555,
						1px 3px 0px #111,
						-1px 3px 0px #111;
}
ul {
	list-style: none;
	list-style-position: inside;
}
li {
	position: relative;
	/*z-index: 100;*/
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	margin-bottom: -1px;
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
li:first-child {
	border-radius: 6px 6px 0px 0px;
}
li:last-child {
	border-radius: 0px 0px 6px 6px;
}
li div {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	border-radius: 0px;
	padding: 0px 10px;
	font-weight: normal;
	color: #5e5e61;
	border: 1px solid hsl(240, 2%, 58%);
	background-color: #cdcdd4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d7d7dd), to(#c2c2ca));
	text-shadow: 0px 1px 0px #efefef;


	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: element;
	-moz-user-drag: element;
	user-drag: element;
	-webkit-transition: all .22s ease-in-out;
	-moz-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
	
	-webkit-box-shadow:
						0px 2px 5px #aaa,
						inset 0px 1px 0px #fff,
						inset 0px -1px 0px #ddd,
						inset 1px 0px 0px #ddd,
						inset -1px 0px 0px #ddd;
}
li div:after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 6px;
	height: 13px;
	width: 13px;
	opacity: .76;
	margin-top: -6px;
	background: url(handle.svg) center center no-repeat;
	background-size: 100% 100%;
}
.drag {
}
.drag div {
	-webkit-transition: all 0 linear;
	-webkit-transition-delay: .01s;
	-moz-transition: all 0 linear;
	-moz-transition-delay: .01s;
	transition: all 0 linear;
	transition-delay: .01s;
	z-index: -100;
	opacity: 0;
}
.drag.dropped {
	-webkit-transition: all 0 linear;
	-webkit-transition-delay: 1s;
	-moz-transition: all 0 linear;
	-moz-transition-delay: 1s;
	transition: all 0 linear;
	transition-delay: 1s;
}
.drop {

}
.drop-prev div {
	/* transforms seem to summon some strange redraw behaviour, even though they're supposedly alot faster to draw */
/*	-webkit-transform: translateY(29px);
	-moz-transform: translateY(29px);
	transform: translateY(29px);*/
	top: 29px;
}
.drop-next div {/*
	-webkit-transform: translateY(-29px);
	-moz-transform: translateY(-29px);
	transform: translateY(-29px);*/
	top: -29px;
}
.dropped {
	/*background: hsl(90, 80%, 50%);*/
}
.dropped div {/*
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);*/
	top: 0px;
	-webkit-transition: all 0 linear;
	-moz-transition: all 0 linear;
	transition: all 0 linear;
}